.container {
    display: flex;
    height: 100vh;

}

.content {
    width: 100%;
    padding-bottom: 4%;
    background: rgb(33, 33, 33);
}

.content__menu {
    width: 20%;
}

.item {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.header {
    padding: 3% 3%;
    color: white;
    position: fixed;
}

.input__chat {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form {
    width: 100%;
}

.input {
    background: rgb(48, 48, 48);
    color: white;
    border: none;
    width: 100%;
    border-radius: 23px;
    padding: 18px 20px;
    font-size: 21px;
    outline: none;
}